<!--
  Generated template for the TotalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Total</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- <ion-row align-items-end>
        <ion-col col-2>
          <button ion-button icon-only outline (click)="transaction.expense = !transaction.expense" [color]="transaction.expense ? 'danger' : 'primary'">
            <ion-icon name="remove" *ngIf="transaction.expense"></ion-icon>
            <ion-icon name="add" *ngIf="!transaction.expense"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-5>
          <ion-item>
            <ion-label floating>Value</ion-label>
            <ion-input type="number" [(ngModel)]="transaction.value"></ion-input>
          </ion-item>    
        </ion-col>
        <ion-col col-5>
          <ion-item>
            <ion-label floating>Total Denuncias</ion-label>
            <ion-select [(ngModel)]="transaction.month">
              <ion-option [value]="types.value" *ngFor="let type of types">{{ types.name }}</ion-option>
            </ion-select>
          </ion-item>    
        </ion-col>

        <ion-col>
            <button ion-button full (click)="createCharts()">Actualizar <ion-icon name="refresh"></ion-icon></button>
          </ion-col>

      </ion-row>
    
      <ion-row>
        <ion-col>
          <button ion-button full (click)="updateCharts()">Actualizar <ion-icon name="refresh"></ion-icon></button>
        </ion-col>
      </ion-row> -->
    
      <!-- <ion-card [hidden]="!chartData"> -->
      <ion-card >
        <ion-card-header>
          Datos de Denuncias
        </ion-card-header>
        <ion-card-content>
          <canvas #valueBarsCanvas></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header>
          Datos desde Twitter
        </ion-card-header>
        <ion-card-content>
          <canvas #valueBarRedes></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header>
          Datos por tipos de Denuncias
        </ion-card-header>
        <ion-card-content>
          <canvas #valueBarTipos></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-header>
          Datos por tipo de Hurto
        </ion-card-header>
        <ion-card-content>
          <canvas #valueBarHurtos></canvas>
        </ion-card-content>
      </ion-card>

</ion-content>
